.header{display:flex;align-items:center;width:100%;gap:1.6rem}.header__logo{width:6rem;height:6rem}.header__title{font-size:3rem}.header__title .title__small{display:flex;align-items:flex-end;font-size:1.6rem}
